.form {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 5px 30px;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(235, 235, 235, 0.76);
  }

  & > a {
    position: relative;
    text-decoration: none;
    border: 3px solid #333;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    padding: 8px;
    width: 170px;
    text-align: center;
  }
}

h1 {
  position: relative;
  color: #333;
  font-size: 30px;
  font-weight: 100;
  line-height: 0.9;
  text-align: center;
}
