@font-face {
  font-family: "Lato";
  src: local("Lato"), url(./fonts/Lato-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Lato-black";
  font-weight: 900;
  src: local("Lato"), url(./fonts/Lato-Black.ttf) format("truetype");
}

@font-face {
  font-family: "Lato-bold";
  font-weight: 900;
  src: local("Lato"), url(./fonts/Lato-Bold.ttf) format("truetype");
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
